# 0. Objetivo del Estudio

# 0. Estudio Previo JSON

## 0.1 Estructura JSON

El JSON seleccionado trata de una **base de datos aeronáutica, del regulador estadounidense FAA, donde se recogen, por cada uno de los aeropuertos y aerolíneas de estudio los siguientes datos históricos estadísticos**:

**1- Vuelos:**

    - vuelos cancelados
    - vuelos puntuales
    - vuelos totales
    - vuelos retrasados 
    - vuelos desviados
    
**2- De los vuelos retrasados, las siguientes causas:**
    
    - las debidas al aeronave
    - las debidas a la climatología
    - las debidad a la seguridad
    - las debidas a los sistemas de navegación
    - las debidas al transportista
    
**3- Los minutos totales de retraso debido a las causas definidas anteriormente**

**4- Año y mes de estudio y de la operación de vuelo**

En cuanto **al tamaño**, el JSON seleccionado consta de un total de **54.013 documentos** y su estructura es la que se muesta a continuación.

### ***`Estructura documento JSON`***


**{

	"airport" : {
		"code" : "ATL",
		"name" : "Atlanta, GA: Hartsfield-Jackson Atlanta International"
	},
	"statistics" : {
		"flights" : {
			"cancelled" : 5,
			"on time" : 561,
			"total" : 752,
			"delayed" : 186,
			"diverted" : 0
		},
		"# of delays" : {
			"late aircraft" : 18,
			"weather" : 28,
			"security" : 2,
			"national aviation system" : 105,
			"carrier" : 34
		},
		"minutes delayed" : {
			"late aircraft" : 1269,
			"weather" : 1722,
			"carrier" : 1367,
			"security" : 139,
			"total" : 8314,
			"national aviation system" : 3817
		}
	}**

## 0.2 Importación de librerías necesarias

Inicialmente se cargan las librerías de python necesarias.

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from pymongo import MongoClient

sns.set_style("darkgrid")

## 0.3 Conexión con MONGO ATLAS

Para una conexión a **MONGO ATLAS** se ejecutaría la siguiente cadena de conexión

In [19]:
#Mongo Atlas
#URI ="mongodb://sato:<PASSWORD>@satoclusterfaa-shard-00-00-gst6h.\
#azure.mongodb.net:27017,satoclusterfaa-shard-00-01-gst6h.azure.\
#mongodb.net:27017,satoclusterfaa-shard-00-02-gst6h.azure.mongodb\
#.net:27017/test?ssl=true&replicaSet=SatoClusterFAA-shard-0&authSource=admin&retryWrites=true"

#client = MongoClient(URI)
#db = client.FAA_Airlines

Para importar el archivo JSON se ejecutaría el siguiente código en un terminal

**`mongoimport --host SatoClusterFAA-shard-0/satoclusterfaa-shard-00-00-gst6h.azure.mongodb.net:27017,satoclusterfaa-shard-00-01-gst6h.azure.mongodb.net:27017,satoclusterfaa-shard-00-02-gst6h.azure.mongodb.net:27017 --ssl --username sato --password <PASSWORD> --authenticationDatabase admin --db FAA_Airports --collection airlines --type JSON --file /local_path/FAA_AIRPORTS/airlines.json`**

## 0.4 Conexión con MONGO LOCAL

Para una conexión a **MONGO en local** se ejecutaría la siguiente cadena de conexión

In [3]:
#local
client = MongoClient()#"mongodb://localhost:27017")
db = client.airports

Para importar el archivo JSON se ejecutaría el siguiente código en un terminal

**`mongoimport -v --host localhost:27017 -d "airports" -c "airlines" --file /local_path/FAA_AIRPORTS/airlines.json --type json`**

## 0.5 Características básicas de la colección

### *Periodo disponible en estudio*

Con esta consulta se trata de averiguar el período de estudio que incluye la colección

In [8]:
time_label = db.airlines.distinct("time.label")

El código `air.distinct("time.label")` da como resultado una lista de ***time.labels*** única de la siguiente forma:

['2003/6',
 '2003/7',
 '2003/8',
 '2003/9',
 '2003/10',
 '2003/11',
 '2003/12',
 '2004/1',
 '2004/2',
 '2004/3',
 '2004/4',
 '2004/5',
 '2004/6',
 '2004/7',
 '2004/8',
 '2004/9',
 '2004/10',
 '2004/11',
 '2004/12',
 '2005/1',
 '2005/2',
 '2005/3',
 '2005/4',
 '2005/5',
 '2005/6',
 '2005/7',
 '2005/8',
 '2005/9',
 '2005/10',
 '2005/11',
 '2006/8',
 '2005/12',
 '2006/1',
 '2006/2',
 '2006/3',
 '2006/4',
 '2006/5',
 '2006/6',
 '2006/7',
 '2006/9',
 '2006/10',
 '2006/11',
 '2006/12',
 '2007/1',
 '2007/2',
 '2007/3',
 '2007/4',
 '2007/5',
 '2007/6',
 '2007/7',
 '2007/8',
 '2007/9',
 '2007/10',
 '2007/11',
 '2007/12',
 '2008/1',
 '2008/2',
 '2008/3',
 '2008/4',
 '2008/5',
 '2008/6',
 '2008/7',
 '2008/8',
 '2008/9',
 '2008/10',
 '2008/11',
 '2008/12',
 '2009/1',
 '2009/2',
 '2009/3',
 '2009/4',
 '2009/5',
 '2009/6',
 '2009/7',
 '2009/8',
 '2009/9',
 '2009/10',
 '2009/11',
 '2009/12',
 '2010/1',
 '2010/2',
 '2010/3',
 '2010/4',
 '2010/5',
 '2010/6',
 '2010/7',
 '2010/8',
 '2010/9',
 '2010/10',
 '2010/11',
 '2010/12',
 '2011/1',
 '2011/2',
 '2011/3',
 '2011/4',
 '2011/5',
 '2011/6',
 '2011/7',
 '2011/8',
 '2011/9',
 '2011/10',
 '2011/11',
 '2011/12',
 '2012/1',
 '2012/2',
 '2012/3',
 '2012/4',
 '2012/5',
 '2012/6',
 '2012/7',
 '2012/8',
 '2012/9',
 '2012/10',
 '2012/11',
 '2012/12',
 '2013/1',
 '2013/2',
 '2013/3',
 '2013/4',
 '2013/5',
 '2013/6',
 '2013/7',
 '2013/8',
 '2013/9',
 '2013/10',
 '2013/11',
 '2013/12',
 '2014/1',
 '2014/2',
 '2014/3',
 '2014/4',
 '2014/5',
 '2014/6',
 '2014/7',
 '2014/8',
 '2014/9',
 '2014/10',
 '2014/11',
 '2014/12',
 '2015/1',
 '2015/2',
 '2015/3',
 '2015/4',
 '2015/5',
 '2015/6',
 '2015/7',
 '2015/8',
 '2015/9',
 '2015/10',
 '2015/11',
 '2015/12',
 '2016/1']

Con el siguiente código se extraen los años y , por cada uno de ellos, se muesta el número de meses completos existentes en la ***Colección***.

In [9]:
date = []
periodo = {}

for label in time_label:
    date.append(int(label.split("/")[0]))
    
for n in set(date):
    periodo[n] = date.count(n)

periodo

{2016: 1,
 2003: 7,
 2004: 12,
 2005: 12,
 2006: 12,
 2007: 12,
 2008: 12,
 2009: 12,
 2010: 12,
 2011: 12,
 2012: 12,
 2013: 12,
 2014: 12,
 2015: 12}

Este resultado demuestra que el período de tiempo disponible comprende desde `2003 al 2016`. Aún así, el  estudio no contempla los 12 meses para los años `2003 y 2016` por lo que, a a partir de ahora, no se contemplan dichos años en el estudio. Aún así, se mantienes en la ***Colección***.

## *Aeropuertos de estudio*

Con esta consulta se trata de averiguar los distintos aeropuertos que comprenden el estudio

In [12]:
len(db.airlines.distinct("airport.name"))

29

In [15]:
db.airlines.distinct("airport.name")

['Atlanta, GA: Hartsfield-Jackson Atlanta International',
 'Boston, MA: Logan International',
 'Baltimore, MD: Baltimore/Washington International Thurgood Marshall',
 'Charlotte, NC: Charlotte Douglas International',
 'Washington, DC: Ronald Reagan Washington National',
 'Denver, CO: Denver International',
 'Dallas/Fort Worth, TX: Dallas/Fort Worth International',
 'Detroit, MI: Detroit Metro Wayne County',
 'Newark, NJ: Newark Liberty International',
 'Fort Lauderdale, FL: Fort Lauderdale-Hollywood International',
 'Washington, DC: Washington Dulles International',
 'Houston, TX: George Bush Intercontinental/Houston',
 'New York, NY: John F. Kennedy International',
 'Las Vegas, NV: McCarran International',
 'Los Angeles, CA: Los Angeles International',
 'New York, NY: LaGuardia',
 'Orlando, FL: Orlando International',
 'Chicago, IL: Chicago Midway International',
 'Miami, FL: Miami International',
 'Minneapolis, MN: Minneapolis-St Paul International',
 "Chicago, IL: Chicago O'Hare International",
 'Portland, OR: Portland International',
 'Philadelphia, PA: Philadelphia International',
 'Phoenix, AZ: Phoenix Sky Harbor International',
 'San Diego, CA: San Diego International',
 'Seattle, WA: Seattle/Tacoma International',
 'San Francisco, CA: San Francisco International',
 'Salt Lake City, UT: Salt Lake City International',
 'Tampa, FL: Tampa International']

### *Compañías Aéreas de Estudio*

Con esta consulta se trata de averiguar las distintas **aerolíneas** que comprenden el estudio

In [17]:
len(db.airlines.distinct("carrier.name"))

28

In [18]:
db.airlines.distinct("carrier.name")

['American Airlines Inc.',
 'Alaska Airlines Inc.',
 'JetBlue Airways',
 'Continental Air Lines Inc.',
 'Atlantic Coast Airlines',
 'Delta Air Lines Inc.',
 'Atlantic Southeast Airlines',
 'AirTran Airways Corporation',
 'America West Airlines Inc.',
 'American Eagle Airlines Inc.',
 'Northwest Airlines Inc.',
 'SkyWest Airlines Inc.',
 'ExpressJet Airlines Inc.',
 'ATA Airlines d/b/a ATA',
 'United Air Lines Inc.',
 'US Airways Inc.',
 'Southwest Airlines Co.',
 'Hawaiian Airlines Inc.',
 'Comair Inc.',
 'Independence Air',
 'Frontier Airlines Inc.',
 'Mesa Airlines Inc.',
 'Aloha Airlines Inc.',
 'Pinnacle Airlines Inc.',
 'Virgin America',
 'Endeavor Air Inc.',
 'Envoy Air',
 'Spirit Air Lines']